<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Dashboard</h1>
  
  <p class="py-3">
    This is the User Lists<code class="bg-gray-200"></code>.<br>

    
    <div id="app">
        <div class = "staticsticBar">
          <table>
              <tr>
                  <td>Total Users</td>
                  <td> ((( statistics['users'] ))) </td>
                  <td> Online(Today) </td>
                  <td> ((( statistics['online_today'] ))) </td>
                  <td> Online(7 Day) </td>
                  <td> ((( statistics['online7d'] ))) </td>
              </tr>
          </table>

        </div>

        <div>
            <table class="userTable" width="100%">
              <tr></tr>
                <th>Name</th>
                <th>Email</th>
                <th>Last Login AT</th>
              <tr></tr>
              <tr v-for="d in users">
                <td>((( d['name'] )))</td>
                <td>((( d['email'] )))</td>
                <td>((( d['last_session'] )))</td>
                <td><button class="editBtn" v-on:click="editUsername()">EDIT</button></td>
              </tr>
            </table>
        </div>
    </div>
    <!-- <strong>Note:</strong> <code class="bg-gray-200">_raw</code> and <code class="bg-gray-200">_json</code> properties have been omitted. -->
  </p>

  <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"></pre>
  <script>

    var vm = new Vue({
      el: '#app',
      data: {
        users: [],
        statistics : {}
      },
      delimiters: ["(((",")))"],
      methods: {
        getUsers: async function () {
            let response = await fetch('/users');
            let results = await response.json();
            this.users = results[0]['users'] ? results[0]['users'] : [];
            this.users.forEach((item)=> {
              item['last_session'] = item['last_session'].substr(0,19).replace('T'," ");   
              return item;
            })
        },
        getStatistics: async function () {
            let response = await fetch('/statistics');
            let results = await response.json();
            this.statistics  = results[0];
        },
        editUsername: async function () {
            let newName = prompt('Please Enter The New Display Name');
            let data = { 'name': newName };
            // Default options are marked with *
            const resp = await fetch('/updateUserName', {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                  'Content-Type': 'application/json'
                  // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            vm.getUsers();
        }
      }
    })

    vm.getUsers();
    vm.getStatistics();
  </script>
<%- include('partials/footer') -%>
