<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>

  
  <p class="py-3">
    You haven't activate your email, Please check your email again .<br>
    <button class="resentBtn"><a href="/resend/activation">Resend Email Verification</a></button>
  </p>


<%- include('partials/footer') -%>
