.staticsticBar {
    width: 40%;
    /* background-color: rgb(171, 198, 247); */
    float: right;

}

.staticsticBar table td {
    font-size:9pt;
    max-width: 25%;
    /* min-width:  */
    background-color: rgb(171, 198, 247);
    padding:10px;
    text-align: right;
    border:1px solid black;
    border-radius:2px;
}

.userTable td {
    padding:5px;
    text-align:left;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


.userTable th {
    padding:5px;
    text-align:left;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:1.2em;
}

.editBtn{
    /* margin-top:20px; */
    border-radius: 2px;
    color:white;
    padding:8px;
    background-color: rgb(21, 178, 250) !important;
}

.resentBtn{
    margin-top:20px;
    border-radius: 2px;
    color:white;
    padding:8px;
    background-color: rgb(83, 83, 247) !important;
}